.radio{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



.app{

}
.left{

}
.title{
  text-align: start;
  font-size: large;
  font-weight: 800;
}
.form{
  width: 50%;
}
.radio__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.input__disabled{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: .7;
}
.input__area{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}